In [3]:
import pandas as pd
import random
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [4]:
def seed_everything(seed):
    random.seed(seed) #파이썬 자체 모듈 random 모듈의 시드 고정
    os.environ['PYTHONHASHSEED'] = str(seed) 
    np.random.seed(seed) #넘파이를 사용할 경우
#     torch.manual_seed(seed)
#     torch.cuda.manual_seed(seed)
#     torch.backends.cudnn.deterministic = True
    
seed_everything(37) # Seed 고정

In [16]:
train_df = pd.read_csv('./train.csv')
test_df = pd.read_csv('./test.csv')

## 상관관계분석을 위해 결측치를 처리해주어야함.(히트맵)

In [52]:
train_a = pd.read_csv('./data/train_a.csv')
train_to = pd.read_csv('./data/train_to.csv')

In [35]:
display(train_a.head(10))
display(train_to.head(10))

,PRODUCT_ID,Y_Class,Y_Quality,TIMESTAMP,LINE,PRODUCT_CODE,X_128,X_129,X_130,X_132,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
0,TRAIN_000,1,0.533433,2022-06-13 5:14,T050304,A_31,7813.0,7813.0,NaN,0.19,...,189.0,383.0,368.296296,353.0,39.34,40.89,32.56,34.09,77.77,NaN
1,TRAIN_001,2,0.541819,2022-06-13 5:22,T050307,A_31,NaN,NaN,19854.0,0.20,...,185.6,383.0,367.735849,353.0,38.89,42.82,43.92,35.34,72.55,NaN
2,TRAIN_002,1,0.531267,2022-06-13 5:30,T050304,A_31,7815.0,7815.0,NaN,0.19,...,165.5,383.0,367.320755,353.0,39.19,36.65,42.47,36.53,78.35,NaN
3,TRAIN_003,2,0.537325,2022-06-13 5:39,T050307,A_31,NaN,NaN,19856.0,0.20,...,165.8,384.0,369.188679,353.0,37.74,39.17,52.17,30.58,71.78,NaN
4,TRAIN_004,1,0.531590,2022-06-13 5:47,T050304,A_31,7817.0,7817.0,NaN,0.19,...,182.6,383.0,367.351852,352.0,38.70,41.89,46.93,33.09,76.97,NaN
5,TRAIN_005,2,0.537833,2022-06-13 5:55,T050307,A_31,NaN,NaN,19859.0,0.20,...,184.7,384.0,368.622641,352.0,38.16,51.25,56.01,37.41,71.37,NaN
6,TRAIN_006,1,0.533665,2022-06-13 6:03,T050304,A_31,7820.0,7820.0,NaN,0.19,...,176.9,384.0,368.425926,353.0,32.50,41.42,38.36,30.83,76.93,NaN
7,TRAIN_007,2,0.540003,2022-06-13 6:11,T050307,A_31,NaN,NaN,19861.0,0.20,...,173.8,393.0,370.283019,353.0,39.00,35.95,59.51,30.49,72.77,NaN
8,TRAIN_008,1,0.531821,2022-06-13 6:19,T050304,A_31,7822.0,7822.0,NaN,0.19,...,173.8,393.0,373.500000,353.0,42.25,43.17,55.60,33.26,78.50,NaN
9,TRAIN_009,2,0.538049,2022-06-13 6:28,T050307,A_31,NaN,NaN,19864.0,0.20,...,167.2,393.0,372.870370,353.0,34.40,35.88,50.36,38.45,71.42,NaN

,PRODUCT_ID,Y_Class,Y_Quality,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,...,X_924,X_925,X_926,X_927,X_928,X_929,X_930,X_931,X_932,X_933
0,TRAIN_022,0,0.517719,2022-06-14 8:53,T100304,T_31,2.0,102.0,0.0,45.0,...,172.5,162.8,157.235484,150.9,326.0,309.290909,290.0,13.7,13.443333,13.2
1,TRAIN_023,0,0.519090,2022-06-14 9:01,T100304,T_31,2.0,102.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TRAIN_025,1,0.529362,2022-06-19 9:11,T100304,T_31,2.0,97.0,0.0,45.0,...,177.8,157.1,154.074194,150.9,327.0,310.854546,298.0,13.7,13.454839,13.2
3,TRAIN_026,1,0.531992,2022-06-19 9:20,T100306,T_31,2.0,95.0,0.0,45.0,...,166.9,158.5,151.096774,146.5,327.0,313.618182,299.0,13.7,13.461290,13.3
4,TRAIN_029,1,0.532405,2022-06-19 23:31,T100304,T_31,2.0,100.0,0.0,45.0,...,177.9,161.3,156.038710,149.1,327.0,312.109091,298.0,13.7,13.422581,13.2
5,TRAIN_030,1,0.528646,2022-06-19 23:39,T100306,T_31,2.0,88.0,0.0,45.0,...,174.5,161.1,153.574194,147.6,327.0,313.109091,297.0,13.7,13.376667,13.2
6,TRAIN_036,1,0.529633,2022-06-22 3:39,T100306,T_31,2.0,91.0,0.0,45.0,...,179.3,157.7,151.890323,146.1,327.0,309.636364,292.0,13.7,13.454839,13.3
7,TRAIN_037,1,0.533110,2022-06-22 3:47,T100304,T_31,2.0,100.0,0.0,45.0,...,182.8,162.9,155.829032,148.4,327.0,312.254546,298.0,13.7,13.456667,13.3
8,TRAIN_042,1,0.530965,2022-06-23 3:39,T100306,T_31,2.0,95.0,0.0,45.0,...,176.0,160.3,155.129032,151.0,327.0,312.553571,298.0,13.7,13.503333,13.3
9,TRAIN_043,1,0.529498,2022-06-23 6:28,T100306,T_31,2.0,95.0,0.0,45.0,...,183.1,165.1,159.100000,155.0,326.0,305.370370,288.0,13.7,13.446667,13.2

## 결측치 처리

표준편차값이 0인 컬럼들을 삭제

-결측치를 최빈값으로 처리하고 상관관계 분석

-결측치를 중앙값으로 처리하고 상관관계 분석

In [46]:
# summary_statistics = train_amode.describe()

# std_0 = summary_statistics.columns[(summary_statistics.loc['std'] == 0) | (summary_statistics.loc['std'] == 0.0)]
# print(std_0)

Index(['X_142', 'X_147', 'X_154', 'X_158', 'X_162', 'X_166', 'X_170', 'X_174',
       'X_178', 'X_182',
       ...
       'X_1835', 'X_1844', 'X_1851', 'X_1869', 'X_2052', 'X_2420', 'X_2462',
       'X_2733', 'X_2775', 'X_2871'],
      dtype='object', length=145)

In [53]:
#최빈값으로 결측치 채우기
train_amode = train_a.iloc[:,6:].copy()
for col in train_a.columns:
    mode_value = train_a[col].mode()[0]  # 최빈값 계산
    train_amode[col] = train_a[col].fillna(mode_value)
# train_amode.X_135.unique()

#### 동일한 값만 들어가 표준 편차 0인 컬럼 삭제

In [55]:
std_00 = []
for i in train_amode.columns:
    if len(train_amode[i].unique()) == 1:
        print(i)
        std_00.append(i)
        
train_amode.drop(columns = std_00, inplace = True)
train_amode

X_135
X_142
X_145
X_147
X_154
X_158
X_162
X_166
X_170
X_174
X_178
X_182
X_186
X_187
X_188
X_190
X_192
X_232
X_234
X_239
X_241
X_244
X_249
X_252
X_255
X_259
X_264
X_274
X_278
X_282
X_312
X_313
X_314
X_315
X_316
X_319
X_322
X_325
X_326
X_327
X_334
X_336
X_340
X_342
X_343
X_347
X_351
X_355
X_359
X_363
X_369
X_375
X_381
X_382
X_383
X_950
X_969
X_987
X_992
X_1003
X_1006
X_1020
X_1070
X_1092
X_1103
X_1119
X_1130
X_1137
X_1146
X_1157
X_1206
X_1216
X_1219
X_1248
X_1255
X_1293
X_1298
X_1309
X_1311
X_1314
X_1316
X_1328
X_1361
X_1367
X_1392
X_1399
X_1426
X_1457
X_1487
X_1502
X_1522
X_1531
X_1537
X_1571
X_1644
X_1675
X_1680
X_1681
X_1683
X_1684
X_1687
X_1688
X_1691
X_1692
X_1695
X_1698
X_1701
X_1702
X_1707
X_1709
X_1711
X_1719
X_1721
X_1722
X_1729
X_1731
X_1733
X_1749
X_1753
X_1754
X_1759
X_1760
X_1765
X_1766
X_1771
X_1772
X_1777
X_1778
X_1783
X_1784
X_1789
X_1790
X_1795
X_1796
X_1801
X_1802
X_1803
X_1807
X_1808
X_1811
X_1823
X_1827
X_1828
X_1835
X_1844
X_1851
X_1869
X_2052
X_2188
X_2189
X_2417
X_2419
X_2420
X_2425
X_2462
X_2549
X_2550
X_2730
X_2732
X_2733
X_2738
X_2775
X_2871
PRODUCT_CODE

,X_128,X_129,X_130,X_132,X_133,X_134,X_136,X_137,X_138,X_139,...,X_2866,X_2867,X_2868,X_2869,X_2870,PRODUCT_ID,Y_Class,Y_Quality,TIMESTAMP,LINE
0,7813.0,7813.0,806.0,0.19,0.20,0.19,228.0,228.0,225.0,582.9,...,39.34,40.89,32.56,34.09,77.77,TRAIN_000,1,0.533433,2022-06-13 5:14,T050304
1,837.0,837.0,19854.0,0.20,0.21,0.20,413.0,414.0,414.0,589.3,...,38.89,42.82,43.92,35.34,72.55,TRAIN_001,2,0.541819,2022-06-13 5:22,T050307
2,7815.0,7815.0,806.0,0.19,0.20,0.19,228.0,228.0,225.0,583.8,...,39.19,36.65,42.47,36.53,78.35,TRAIN_002,1,0.531267,2022-06-13 5:30,T050304
3,837.0,837.0,19856.0,0.20,0.21,0.20,414.0,414.0,414.0,589.8,...,37.74,39.17,52.17,30.58,71.78,TRAIN_003,2,0.537325,2022-06-13 5:39,T050307
4,7817.0,7817.0,806.0,0.19,0.20,0.18,228.0,228.0,225.0,583.2,...,38.70,41.89,46.93,33.09,76.97,TRAIN_004,1,0.531590,2022-06-13 5:47,T050304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,11920.0,11920.0,806.0,0.19,0.20,0.19,230.0,230.0,230.0,583.5,...,51.71,59.64,54.61,57.05,63.18,TRAIN_583,0,0.522340,2022-09-05 8:34,T050304
245,837.0,837.0,806.0,0.20,0.21,0.20,228.0,228.0,225.0,596.1,...,53.49,51.25,40.49,55.31,62.83,TRAIN_584,0,0.519519,2022-09-05 11:09,T010305
246,837.0,837.0,806.0,0.20,0.21,0.20,228.0,228.0,225.0,596.1,...,53.49,51.25,40.49,55.31,62.83,TRAIN_585,0,0.515214,2022-09-05 11:17,T010306
247,14810.0,14810.0,806.0,0.19,0.20,0.19,304.0,304.0,304.0,588.9,...,49.47,53.07,50.89,55.10,66.49,TRAIN_594,0,0.524022,2022-09-08 22:38,T050304
248,14813.0,14813.0,806.0,0.19,0.20,0.19,304.0,304.0,304.0,588.8,...,53.49,51.25,40.49,55.31,62.83,TRAIN_595,0,0.521289,2022-09-08 22:47,T050304

In [56]:
#train_amode.drop(columns = ['PRODUCT_ID', 'Y_Quality', 'TIMESTAMP'], inplace = True)
train_amode.to_csv('./data/train_amode.csv', index = False)

In [60]:
# 중앙값으로 결측치 처리
train_amedi = train_a.iloc[:,6:].copy()
for col in train_amedi.columns:
    medi_value = train_amedi[col].median()  # 중앙값 계산
    train_amedi[col] = train_amedi[col].fillna(medi_value)

In [62]:
#train_amedi.drop(columns = ['PRODUCT_ID', 'Y_Quality', 'TIMESTAMP'], inplace = True)
train_amedi.to_csv('./data/train_amedi.csv', index = False)

### 상관관계분석(히트맵)으로 중요한 컬럼만 추출한다.

In [3]:
df = train_amode.copy()

In [4]:
df.drop(columns = ['PRODUCT_ID', 'Y_Quality', 'TIMESTAMP', 'Y_Class'], inplace = True)

In [5]:
df

,LINE,X_128,X_129,X_130,X_132,X_133,X_134,X_136,X_137,X_138,...,X_2861,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870
0,T050304,7813.0,7813.0,806.0,0.19,0.20,0.19,228.0,228.0,225.0,...,197.286667,189.0,383.0,368.296296,353.0,39.34,40.89,32.56,34.09,77.77
1,T050307,837.0,837.0,19854.0,0.20,0.21,0.20,413.0,414.0,414.0,...,193.296552,185.6,383.0,367.735849,353.0,38.89,42.82,43.92,35.34,72.55
2,T050304,7815.0,7815.0,806.0,0.19,0.20,0.19,228.0,228.0,225.0,...,179.820690,165.5,383.0,367.320755,353.0,39.19,36.65,42.47,36.53,78.35
3,T050307,837.0,837.0,19856.0,0.20,0.21,0.20,414.0,414.0,414.0,...,181.920690,165.8,384.0,369.188679,353.0,37.74,39.17,52.17,30.58,71.78
4,T050304,7817.0,7817.0,806.0,0.19,0.20,0.18,228.0,228.0,225.0,...,196.393333,182.6,383.0,367.351852,352.0,38.70,41.89,46.93,33.09,76.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,T050304,11920.0,11920.0,806.0,0.19,0.20,0.19,230.0,230.0,230.0,...,191.993103,181.6,394.0,371.943396,353.0,51.71,59.64,54.61,57.05,63.18
245,T010305,837.0,837.0,806.0,0.20,0.21,0.20,228.0,228.0,225.0,...,195.682143,184.9,466.0,448.634615,432.0,53.49,51.25,40.49,55.31,62.83
246,T010306,837.0,837.0,806.0,0.20,0.21,0.20,228.0,228.0,225.0,...,187.396552,176.7,472.0,450.339623,432.0,53.49,51.25,40.49,55.31,62.83
247,T050304,14810.0,14810.0,806.0,0.19,0.20,0.19,304.0,304.0,304.0,...,180.810345,168.7,384.0,369.811321,353.0,49.47,53.07,50.89,55.10,66.49
248,T050304,14813.0,14813.0,806.0,0.19,0.20,0.19,304.0,304.0,304.0,...,176.486207,156.6,383.0,367.018868,352.0,53.49,51.25,40.49,55.31,62.83

In [6]:
corr_matrix = df.corr()

In [7]:
# Y_Class 제외 0.8보다 높은 상관계수를 가진 컬럼 추출 -> 삭제
high_corr_col = set()
for i in range(len(corr_matrix.columns)):
    for j in range(i+1, len(corr_matrix.columns)):
        if abs(corr_matrix.iloc[i, j]) > 0.8:
            high_corr_col.add(corr_matrix.columns[i])
            high_corr_col.add(corr_matrix.columns[j])


print("Selected high correlation columns:", high_corr_col) #1285개 컬럼 삭제

Selected high correlation columns: {'X_2214', 'X_236', 'X_134', 'X_1310', 'X_1990', 'X_960', 'X_2038', 'X_2028', 'X_1498', 'X_2544', 'X_2710', 'X_2707', 'X_2522', 'X_2402', 'X_1445', 'X_1227', 'X_2384', 'X_2106', 'X_976', 'X_2819', 'X_1632', 'X_1672', 'X_1358', 'X_335', 'X_1341', 'X_2110', 'X_2041', 'X_1071', 'X_1096', 'X_2022', 'X_1401', 'X_2226', 'X_1853', 'X_1093', 'X_1460', 'X_1567', 'X_2382', 'X_1335', 'X_1459', 'X_2101', 'X_2709', 'X_2065', 'X_1180', 'X_2771', 'X_209', 'X_1495', 'X_2788', 'X_1668', 'X_300', 'X_2538', 'X_1810', 'X_1925', 'X_366', 'X_2066', 'X_1164', 'X_2408', 'X_2398', 'X_1678', 'X_2111', 'X_2430', 'X_1633', 'X_2370', 'X_1322', 'X_1081', 'X_1489', 'X_1658', 'X_213', 'X_1241', 'X_2717', 'X_1728', 'X_1792', 'X_1218', 'X_1172', 'X_1885', 'X_1919', 'X_1626', 'X_1517', 'X_1549', 'X_1601', 'X_1029', 'X_1850', 'X_2752', 'X_1423', 'X_1129', 'X_1505', 'X_1673', 'X_211', 'X_266', 'X_1325', 'X_1491', 'X_1891', 'X_2049', 'X_2558', 'X_1045', 'X_2554', 'X_1526', 'X_1307', 'X_2178', 'X_258', 'X_1321', 'X_983', 'X_1798', 'X_2466', 'X_1561', 'X_2427', 'X_2863', 'X_1086', 'X_1663', 'X_2100', 'X_2744', 'X_1926', 'X_2715', 'X_2843', 'X_2410', 'X_1160', 'X_1899', 'X_2072', 'X_1488', 'X_1961', 'X_2848', 'X_2578', 'X_1887', 'X_1566', 'X_1414', 'X_1009', 'X_1820', 'X_2154', 'X_1360', 'X_1583', 'X_267', 'X_1104', 'X_2198', 'X_1734', 'X_1597', 'X_2109', 'X_1152', 'X_2737', 'X_2841', 'X_945', 'X_2726', 'X_1234', 'X_2486', 'X_2780', 'X_1715', 'X_2498', 'X_1044', 'X_1428', 'X_1454', 'X_938', 'X_1114', 'X_1442', 'X_996', 'X_2779', 'X_1965', 'X_1194', 'X_2720', 'X_1163', 'X_1305', 'X_2428', 'X_2867', 'X_296', 'X_1880', 'X_1151', 'X_2033', 'X_1592', 'X_1228', 'X_1075', 'X_1756', 'X_1353', 'X_1602', 'X_1058', 'X_225', 'X_212', 'X_1247', 'X_2829', 'X_1330', 'X_2136', 'X_1478', 'X_2776', 'X_985', 'X_1909', 'X_2108', 'X_2426', 'X_1170', 'X_978', 'X_2286', 'X_2011', 'X_1324', 'X_1101', 'X_968', 'X_349', 'X_1788', 'X_2083', 'X_2825', 'X_2725', 'X_2743', 'X_1181', 'X_1111', 'X_2047', 'X_1019', 'X_2184', 'X_1866', 'X_2406', 'X_1516', 'X_203', 'X_1011', 'X_279', 'X_1686', 'X_2354', 'X_1289', 'X_1984', 'X_2374', 'X_1562', 'X_1441', 'X_2441', 'X_1931', 'X_1629', 'X_1232', 'X_1742', 'X_2358', 'X_2706', 'X_1976', 'X_1049', 'X_1922', 'X_1508', 'X_1080', 'X_1132', 'X_2735', 'X_1285', 'X_1359', 'X_2191', 'X_181', 'X_297', 'X_1153', 'X_2712', 'X_1619', 'X_309', 'X_2004', 'X_1914', 'X_1047', 'X_1061', 'X_1927', 'X_1708', 'X_2394', 'X_1420', 'X_1323', 'X_230', 'X_1120', 'X_1915', 'X_1402', 'X_1434', 'X_2510', 'X_270', 'X_2000', 'X_1469', 'X_1297', 'X_2314', 'X_1983', 'X_1812', 'X_254', 'X_982', 'X_2548', 'X_301', 'X_1448', 'X_2102', 'X_2023', 'X_2025', 'X_2298', 'X_207', 'X_1611', 'X_1958', 'X_1480', 'X_1308', 'X_1969', 'X_986', 'X_1113', 'X_981', 'X_2084', 'X_2458', 'X_1982', 'X_2166', 'X_2794', 'X_2074', 'X_1738', 'X_2728', 'X_967', 'X_1933', 'X_2700', 'X_2817', 'X_1033', 'X_2552', 'X_228', 'X_1875', 'X_1456', 'X_1763', 'X_1656', 'X_1126', 'X_1553', 'X_2368', 'X_2274', 'X_2524', 'X_1131', 'X_2075', 'X_1994', 'X_1538', 'X_2104', 'X_2566', 'X_2098', 'X_1949', 'X_1240', 'X_2294', 'X_1412', 'X_1855', 'X_2310', 'X_1650', 'X_2162', 'X_189', 'X_1128', 'X_2020', 'X_1409', 'X_1703', 'X_1942', 'X_2418', 'X_1834', 'X_2262', 'X_2248', 'X_1554', 'X_1150', 'X_2118', 'X_1615', 'X_2870', 'X_2851', 'X_129', 'X_1051', 'X_204', 'X_1208', 'X_1143', 'X_1654', 'X_2610', 'X_1340', 'X_2413', 'X_1608', 'X_1136', 'X_2547', 'X_1437', 'X_2868', 'X_2013', 'X_2572', 'X_1740', 'X_2152', 'X_2302', 'X_2128', 'X_2409', 'X_1403', 'X_1543', 'X_2031', 'X_372', 'X_2574', 'X_1036', 'X_946', 'X_1100', 'X_1507', 'X_1556', 'X_959', 'X_2814', 'X_1301', 'X_2620', 'X_1183', 'X_1238', 'X_1651', 'X_2342', 'X_1985', 'X_1345', 'X_1202', 'X_1824', 'X_2080', 'X_275', 'X_1026', 'X_1338', 'X_1570', 'X_1039', 'X_1962', 'X_1928', 'X_1083', 'X_2278', 'X_2784', 'X_1438', 'X_2432', 'X_2465', 'X_2091', 'X_1452', 'X_1506', 'X_2182', 'X_973', 'X_1989', 'X_2534', 'X_1349', 'X_286', 'X_2390', 'X_1203', 'X_2805', 'X_1085', 'X_2067', 'X_2787', 'X_1638', 'X_1704', 'X_2030', 'X_1510', 'X_1475', 'X_138', 'X_2745', 'X_2702', 'X_1618', 'X_1809', 'X_1001', 'X_2378', 'X_1529', 'X_1054', 'X_1993', 'X_1941', 'X_2320', 'X_2077', 'X_2322', 'X_1890', 'X_1221', 'X_957', 'X_2828', 'X_149', 'X_961', 'X_1725', 'X_2095', 'X_2854', 'X_2429', 'X_1776', 'X_1966', 'X_1040', 'X_1465', 'X_2781', 'X_1758', 'X_1902', 'X_2280', 'X_1416', 'X_2069', 'X_2490', 'X_1288', 'X_1500', 'X_306', 'X_1743', 'X_1998', 'X_2107', 'X_1737', 'X_1002', 'X_1140', 'X_2741', 'X_1242', 'X_1873', 'X_2138', 'X_1052', 'X_1770', 'X_1243', 'X_1888', 'X_1679', 'X_2029', 'X_2516', 'X_200', 'X_2306', 'X_2768', 'X_1431', 'X_2836', 'X_1825', 'X_1854', 'X_331', 'X_2506', 'X_1589', 'X_1065', 'X_1794', 'X_2721', 'X_1471', 'X_221', 'X_1000', 'X_1067', 'X_2815', 'X_1121', 'X_2058', 'X_1327', 'X_2094', 'X_290', 'X_1718', 'X_1609', 'X_2857', 'X_1876', 'X_2043', 'X_1280', 'X_2254', 'X_2222', 'X_1653', 'X_2186', 'X_320', 'X_1939', 'X_1646', 'X_1882', 'X_1365', 'X_1139', 'X_1237', 'X_1953', 'X_1903', 'X_1937', 'X_2530', 'X_2532', 'X_1768', 'X_2089', 'X_2564', 'X_268', 'X_1430', 'X_1433', 'X_1992', 'X_2594', 'X_137', 'X_1586', 'X_1634', 'X_2082', 'X_281', 'X_1189', 'X_1996', 'X_2813', 'X_1464', 'X_2494', 'X_1037', 'X_273', 'X_1923', 'X_1997', 'X_1427', 'X_2847', 'X_1169', 'X_1046', 'X_1354', 'X_2580', 'X_2126', 'X_287', 'X_1185', 'X_2312', 'X_1470', 'X_277', 'X_1501', 'X_1907', 'X_1028', 'X_2440', 'X_964', 'X_1055', 'X_1617', 'X_1741', 'X_2795', 'X_1450', 'X_2546', 'X_2238', 'X_1591', 'X_130', 'X_1166', 'X_1165', 'X_2018', 'X_1664', 'X_2810', 'X_2282', 'X_2079', 'X_1090', 'X_2823', 'X_1171', 'X_311', 'X_2818', 'X_1198', 'X_2326', 'X_2861', 'X_2446', 'X_1027', 'X_1062', 'X_2400', 'X_1661', 'X_2502', 'X_2062', 'X_2866', 'X_1135', 'X_140', 'X_1468', 'X_2859', 'X_2037', 'X_1513', 'X_2090', 'X_1088', 'X_1230', 'X_199', 'X_2224', 'X_150', 'X_1660', 'X_1610', 'X_1849', 'X_1417', 'X_1624', 'X_1829', 'X_139', 'X_1290', 'X_238', 'X_1087', 'X_2705', 'X_1732', 'X_1259', 'X_240', 'X_2016', 'X_963', 'X_2105', 'X_136', 'X_1145', 'X_2144', 'X_1453', 'X_1862', 'X_2081', 'X_2467', 'X_1511', 'X_1125', 'X_1918', 'X_2719', 'X_2160', 'X_2701', 'X_1598', 'X_132', 'X_1446', 'X_1627', 'X_2846', 'X_2590', 'X_302', 'X_1921', 'X_2431', 'X_1156', 'X_1077', 'X_2288', 'X_2187', 'X_1881', 'X_1134', 'X_1929', 'X_1604', 'X_1599', 'X_1155', 'X_1458', 'X_1971', 'X_1557', 'X_2837', 'X_958', 'X_245', 'X_1528', 'X_2010', 'X_2392', 'X_1144', 'X_1493', 'X_1424', 'X_1097', 'X_1509', 'X_2174', 'X_1302', 'X_2832', 'X_1769', 'X_1826', 'X_2518', 'X_2845', 'X_2456', 'X_1422', 'X_1603', 'X_2834', 'X_956', 'X_1819', 'X_2602', 'X_984', 'X_291', 'X_2019', 'X_2543', 'X_1405', 'X_2785', 'X_1911', 'X_2476', 'X_2304', 'X_2421', 'X_2190', 'X_1588', 'X_1192', 'X_2449', 'X_1127', 'X_975', 'X_2194', 'X_1648', 'X_1514', 'X_1905', 'X_1552', 'X_2014', 'X_1613', 'X_1614', 'X_1546', 'X_998', 'X_1179', 'X_1094', 'X_944', 'X_1351', 'X_1943', 'X_1726', 'X_1860', 'X_2774', 'X_333', 'X_1697', 'X_2045', 'X_940', 'X_2830', 'X_2240', 'X_1112', 'X_1138', 'X_1748', 'X_1281', 'X_1329', 'X_2474', 'X_1623', 'X_2422', 'X_2865', 'X_2032', 'X_1485', 'X_1551', 'X_1878', 'X_1974', 'X_1951', 'X_2250', 'X_2460', 'X_1030', 'X_1628', 'X_1952', 'X_2088', 'X_1720', 'X_2778', 'X_1346', 'X_1292', 'X_965', 'X_1162', 'X_1587', 'X_1207', 'X_1492', 'X_1415', 'X_1034', 'X_1986', 'X_2192', 'X_1652', 'X_1960', 'X_1106', 'X_993', 'X_1499', 'X_2386', 'X_1056', 'X_143', 'X_2266', 'X_2864', 'X_1662', 'X_1474', 'X_2614', 'X_2786', 'X_1975', 'X_2414', 'X_1972', 'X_1857', 'X_939', 'X_997', 'X_332', 'X_1600', 'X_2461', 'X_2860', 'X_2258', 'X_1717', 'X_1944', 'X_1496', 'X_1343', 'X_1350', 'X_1904', 'X_2008', 'X_1920', 'X_1886', 'X_2272', 'X_1912', 'X_1710', 'X_2622', 'X_1461', 'X_1641', 'X_2216', 'X_1173', 'X_1116', 'X_1462', 'X_1455', 'X_1141', 'X_1959', 'X_1326', 'X_2855', 'X_1945', 'X_1981', 'X_966', 'X_1102', 'X_2060', 'X_2811', 'X_1339', 'X_1804', 'X_1818', 'X_2555', 'X_1089', 'X_1231', 'X_1856', 'X_1874', 'X_1563', 'X_949', 'X_1727', 'X_1400', 'X_1486', 'X_196', 'X_1076', 'X_1948', 'X_2756', 'X_994', 'X_2061', 'X_2202', 'X_2853', 'X_2185', 'X_1762', 'X_2264', 'X_288', 'X_948', 'X_1916', 'X_1225', 'X_1805', 'X_2092', 'X_1977', 'X_1548', 'X_2017', 'X_1674', 'X_1449', 'X_1333', 'X_1596', 'X_2736', 'X_1991', 'X_2035', 'X_2782', 'X_1607', 'X_1868', 'X_2232', 'X_1667', 'X_1545', 'X_222', 'X_2618', 'X_2596', 'X_2168', 'X_2170', 'X_1158', 'X_1639', 'X_1864', 'X_1068', 'X_1159', 'X_1520', 'X_1105', 'X_1490', 'X_1064', 'X_1425', 'X_1896', 'X_1154', 'X_1630', 'X_1479', 'X_202', 'X_2762', 'X_979', 'X_1483', 'X_1451', 'X_2006', 'X_2858', 'X_1109', 'X_305', 'X_1440', 'X_2802', 'X_1979', 'X_2424', 'X_1901', 'X_2206', 'X_941', 'X_1895', 'X_217', 'X_365', 'X_1631', 'X_2526', 'X_1584', 'X_1833', 'X_1477', 'X_242', 'X_1073', 'X_1746', 'X_2478', 'X_1659', 'X_1938', 'X_2068', 'X_2822', 'X_1099', 'X_1897', 'X_2455', 'X_1999', 'X_1744', 'X_1334', 'X_2783', 'X_2296', 'X_358', 'X_2086', 'X_1123', 'X_2842', 'X_248', 'X_2492', 'X_1883', 'X_1988', 'X_257', 'X_373', 'X_1473', 'X_1222', 'X_2711', 'X_2759', 'X_177', 'X_1053', 'X_161', 'X_1995', 'X_1443', 'X_1822', 'X_1304', 'X_1355', 'X_220', 'X_1332', 'X_1224', 'X_2807', 'X_367', 'X_1620', 'X_1108', 'X_2112', 'X_1910', 'X_2734', 'X_2731', 'X_285', 'X_1714', 'X_1730', 'X_1048', 'X_2012', 'X_1973', 'X_2158', 'X_2003', 'X_2714', 'X_2443', 'X_1536', 'X_128', 'X_1147', 'X_1262', 'X_2470', 'X_1764', 'X_227', 'X_348', 'X_1930', 'X_1736', 'X_1107', 'X_299', 'X_2415', 'X_1884', 'X_1696', 'X_265', 'X_2606', 'X_2218', 'X_1716', 'X_2290', 'X_1940', 'X_295', 'X_1196', 'X_293', 'X_2122', 'X_1482', 'X_1987', 'X_1352', 'X_1935', 'X_2362', 'X_321', 'X_1635', 'X_980', 'X_2453', 'X_1515', 'X_1642', 'X_2852', 'X_1694', 'X_1239', 'X_2005', 'X_1964', 'X_2015', 'X_2270', 'X_1472', 'X_1063', 'X_2064', 'X_1671', 'X_2048', 'X_1149', 'X_198', 'X_1344', 'X_1177', 'X_1889', 'X_215', 'X_2423', 'X_1547', 'X_1908', 'X_2328', 'X_1411', 'X_2130', 'X_1616', 'X_1385', 'X_2773', 'X_2791', 'X_2318', 'X_1830', 'X_2230', 'X_2464', 'X_1590', 'X_1245', 'X_2598', 'X_208', 'X_1893', 'X_231', 'X_2360', 'X_2063', 'X_1018', 'X_2352', 'X_2093', 'X_1954', 'X_2046', 'X_1118', 'X_1466', 'X_141', 'X_1906', 'X_2588', 'X_1306', 'X_1832', 'X_1059', 'X_2484', 'X_206', 'X_1595', 'X_1447', 'X_1463', 'X_1900', 'X_2097', 'X_2753', 'X_2849', 'X_1190', 'X_1476', 'X_1187', 'X_1142', 'X_2582', 'X_1074', 'X_1565', 'X_1739', 'X_1435', 'X_2103', 'X_1877', 'X_2723', 'X_1348', 'X_2009', 'X_1544', 'X_2570', 'X_1980', 'X_1816', 'X_2612', 'X_2120', 'X_2039', 'X_1568', 'X_1970', 'X_2256', 'X_1636', 'X_2545', 'X_1315', 'X_942', 'X_1593', 'X_1655', 'X_1657', 'X_256', 'X_1936', 'X_226', 'X_1786', 'X_2716', 'X_1750', 'X_2742', 'X_1133', 'X_2482', 'X_371', 'X_1859', 'X_294', 'X_1665', 'X_2096', 'X_2346', 'X_1800', 'X_2869', 'X_2562', 'X_1124', 'X_2724', 'X_1084', 'X_1117', 'X_1217', 'X_1186', 'X_318', 'X_2463', 'X_1161', 'X_1950', 'X_1542', 'X_2146', 'X_1782', 'X_2809', 'X_962', 'X_218', 'X_1637', 'X_1313', 'X_2336', 'X_2234', 'X_1649', 'X_1091', 'X_2200', 'X_2790', 'X_2704', 'X_2330', 'X_1303', 'X_1541', 'X_2826', 'X_2718', 'X_1806', 'X_133', 'X_1122', 'X_2134', 'X_2024', 'X_2208', 'X_2150', 'X_1924', 'X_2821', 'X_2803', 'X_2801', 'X_1735', 'X_1494', 'X_1706', 'X_1640', 'X_1072', 'X_368', 'X_1625', 'X_224', 'X_1917', 'X_2042', 'X_2411', 'X_310', 'X_1527', 'X_2508', 'X_1060', 'X_2027', 'X_2085', 'X_2412', 'X_2344', 'X_1057', 'X_2777', 'X_2468', 'X_1193', 'X_1569', 'X_2087', 'X_1429', 'X_1418', 'X_1436', 'X_1404', 'X_1082', 'X_1264', 'X_1622', 'X_1195', 'X_1421', 'X_1279', 'X_1410', 'X_1079', 'X_1585', 'X_253', 'X_1550', 'X_2500', 'X_2586', 'X_2514', 'X_999', 'X_1497', 'X_1032', 'X_2070', 'X_1012', 'X_1236', 'X_1041', 'X_2338', 'X_271', 'X_1419', 'X_1932', 'X_2246', 'X_2036', 'X_1955', 'X_1042', 'X_1484', 'X_1867', 'X_1978', 'X_2708', 'X_1038', 'X_947', 'X_1512', 'X_2727', 'X_1913', 'X_1481', 'X_2056', 'X_1444', 'X_1115', 'X_148', 'X_2833', 'X_2142', 'X_1539', 'X_2021', 'X_1294', 'X_943', 'X_995', 'X_1010', 'X_2114', 'X_2604', 'X_1066', 'X_1621', 'X_1331', 'X_1594', 'X_1226', 'X_1031', 'X_2626', 'X_1814', 'X_303', 'X_1934', 'X_2850', 'X_2713', 'X_1894', 'X_1669', 'X_364', 'X_1176', 'X_2334', 'X_1035', 'X_1148', 'X_2001', 'X_2350', 'X_1110', 'X_1534', 'X_1078', 'X_2242', 'X_1947', 'X_2034', 'X_2541', 'X_1300', 'X_1898', 'X_1643', 'X_1069', 'X_1098', 'X_974', 'X_2806', 'X_2376', 'X_216', 'X_1752', 'X_1095', 'X_2553', 'X_2071', 'X_1892', 'X_1043', 'X_2210', 'X_1439', 'X_977', 'X_2073', 'X_2556', 'X_2856', 'X_1413', 'X_370', 'X_2044', 'X_251', 'X_2176', 'X_1605', 'X_1467', 'X_2002', 'X_2366', 'X_356', 'X_1299', 'X_1050', 'X_2040', 'X_2862', 'X_1229', 'X_1606', 'X_1184', 'X_1612', 'X_1879', 'X_2007'}

In [8]:
# 새로운 DataFrame 생성
df_corr = train_amode.drop(columns = high_corr_col)
len(df_corr)

249

In [9]:
df_corr.shape

(249, 292)

In [10]:
df_corr.to_csv('./data/train_amode2_corr.csv', index = False)

In [39]:
corr_matrix = df.corr()
highcorr_lst = []
for i in range(1, len(corr_matrix.columns)):
    if abs(corr_matrix.iloc[0, i]) > 0.3:
        highcorr_lst.append(corr_matrix.columns[i])

print("Columns in df:", df.columns)
print("Selected high correlation columns:", highcorr_lst)
df_corr = df[highcorr_lst]

Columns in df: Index(['Y_Class', 'LINE', 'X_128', 'X_129', 'X_130', 'X_132', 'X_133', 'X_134',
       'X_136', 'X_137',
       ...
       'X_2861', 'X_2862', 'X_2863', 'X_2864', 'X_2865', 'X_2866', 'X_2867',
       'X_2868', 'X_2869', 'X_2870'],
      dtype='object', length=1574)
Selected high correlation columns: ['X_130', 'X_240', 'X_248', 'X_258', 'X_287', 'X_335', 'X_373', 'X_1781', 'X_1833', 'X_1859', 'X_2466', 'X_2779', 'X_2787', 'X_2788', 'X_2789', 'X_2790']

### 제품별로 분류 -> 결측치 처리 -> 차원 축소

In [4]:
# 모든 값이 NaN 값인 feature 삭제
#train_df = train_df[train_df]
delete = train_df.isnull().sum()[train_df.isnull().sum() == len(train_df)].index.tolist()
#delete = train_df[train_df.isnull().sum()==len(train_df)]
len(delete) #그냥 확인

# 모든 값이 null인 열 삭제
train_df = train_df.dropna(axis=1, how='all')

In [5]:
test_df = pd.read_csv('./test.csv')
delete2 = test_df.isnull().sum()[test_df.isnull().sum() == len(test_df)].index.tolist()
len(delete2)

506

In [ ]:
train_a = train_df[train_df['PRODUCT_CODE']=='A_31']
train_t = train_df[train_df['PRODUCT_CODE']=='T_31']
train_o = train_df[train_df['PRODUCT_CODE']=='O_31']