In [32]:
import pandas as pd
import random
import os
import numpy as np
import matplotlib.pyplot as plt
import warnings; warnings.filterwarnings(action='ignore')
import pickle

from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [33]:
def seed_everything(seed):
    random.seed(seed) #파이썬 자체 모듈 random 모듈의 시드 고정
    os.environ['PYTHONHASHSEED'] = str(seed) 
    np.random.seed(seed) #넘파이를 사용할 경우
#     torch.manual_seed(seed)
#     torch.cuda.manual_seed(seed)
#     torch.backends.cudnn.deterministic = True
    
seed_everything(37) # Seed 고정

# Data Load

In [34]:
#데이터프레임 불러오기
train_df = pd.read_csv('./train.csv')
test_df = pd.read_csv('./test.csv')
submission = pd.read_csv('./sample_submission.csv')

In [165]:
train_df.head(50)

,PRODUCT_ID,Y_Class,Y_Quality,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TRAIN_000,1,0.533433,2022-06-13 5:14,T050304,A_31,0.0,0.0,0.0,0.0,...,39.34,40.89,32.56,34.09,77.77,0.0,0.0,0.0,0.0,0.0
1,TRAIN_001,2,0.541819,2022-06-13 5:22,T050307,A_31,0.0,0.0,0.0,0.0,...,38.89,42.82,43.92,35.34,72.55,0.0,0.0,0.0,0.0,0.0
2,TRAIN_002,1,0.531267,2022-06-13 5:30,T050304,A_31,0.0,0.0,0.0,0.0,...,39.19,36.65,42.47,36.53,78.35,0.0,0.0,0.0,0.0,0.0
3,TRAIN_003,2,0.537325,2022-06-13 5:39,T050307,A_31,0.0,0.0,0.0,0.0,...,37.74,39.17,52.17,30.58,71.78,0.0,0.0,0.0,0.0,0.0
4,TRAIN_004,1,0.531590,2022-06-13 5:47,T050304,A_31,0.0,0.0,0.0,0.0,...,38.70,41.89,46.93,33.09,76.97,0.0,0.0,0.0,0.0,0.0
5,TRAIN_005,2,0.537833,2022-06-13 5:55,T050307,A_31,0.0,0.0,0.0,0.0,...,38.16,51.25,56.01,37.41,71.37,0.0,0.0,0.0,0.0,0.0
6,TRAIN_006,1,0.533665,2022-06-13 6:03,T050304,A_31,0.0,0.0,0.0,0.0,...,32.50,41.42,38.36,30.83,76.93,0.0,0.0,0.0,0.0,0.0
7,TRAIN_007,2,0.540003,2022-06-13 6:11,T050307,A_31,0.0,0.0,0.0,0.0,...,39.00,35.95,59.51,30.49,72.77,0.0,0.0,0.0,0.0,0.0
8,TRAIN_008,1,0.531821,2022-06-13 6:19,T050304,A_31,0.0,0.0,0.0,0.0,...,42.25,43.17,55.60,33.26,78.50,0.0,0.0,0.0,0.0,0.0
9,TRAIN_009,2,0.538049,2022-06-13 6:28,T050307,A_31,0.0,0.0,0.0,0.0,...,34.40,35.88,50.36,38.45,71.42,0.0,0.0,0.0,0.0,0.0
10,TRAIN_010,1,0.531503,2022-06-13 6:36,T050304,A_31,0.0,0.0,0.0,0.0,...,32.12,34.74,54.93,33.16,76.30,0.0,0.0,0.0,0.0,0.0
11,TRAIN_011,2,0.539149,2022-06-13 6:44,T050307,A_31,0.0,0.0,0.0,0.0,...,39.16,35.49,52.27,31.45,72.46,0.0,0.0,0.0,0.0,0.0
12,TRAIN_012,1,0.533632,2022-06-13 6:52,T050304,A_31,0.0,0.0,0.0,0.0,...,36.55,32.32,54.25,35.15,78.86,0.0,0.0,0.0,0.0,0.0
13,TRAIN_013,2,0.538508,2022-06-13 7:00,T050307,A_31,0.0,0.0,0.0,0.0,...,40.42,34.33,41.98,40.34,72.77,0.0,0.0,0.0,0.0,0.0
14,TRAIN_014,1,0.531254,2022-06-13 7:08,T050304,A_31,0.0,0.0,0.0,0.0,...,40.42,38.33,40.14,30.72,76.52,0.0,0.0,0.0,0.0,0.0
15,TRAIN_015,2,0.539254,2022-06-13 7:17,T050307,A_31,0.0,0.0,0.0,0.0,...,38.03,44.53,41.54,37.20,72.46,0.0,0.0,0.0,0.0,0.0
16,TRAIN_016,1,0.534054,2022-06-13 7:25,T050304,A_31,0.0,0.0,0.0,0.0,...,40.53,31.70,49.49,35.73,79.75,0.0,0.0,0.0,0.0,0.0
17,TRAIN_017,2,0.538854,2022-06-13 7:33,T050307,A_31,0.0,0.0,0.0,0.0,...,33.16,33.26,55.97,35.17,71.40,0.0,0.0,0.0,0.0,0.0
18,TRAIN_018,1,0.532170,2022-06-13 7:41,T050304,A_31,0.0,0.0,0.0,0.0,...,35.07,48.38,36.24,33.00,75.82,0.0,0.0,0.0,0.0,0.0
19,TRAIN_019,2,0.539235,2022-06-13 7:49,T050307,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
20,TRAIN_020,1,0.531179,2022-06-13 7:58,T050304,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
21,TRAIN_021,2,0.544129,2022-06-14 5:58,T050304,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,1.0,0.0,0.0,0.0,0.0
22,TRAIN_022,0,0.517719,2022-06-14 8:53,T100304,T_31,2.0,102.0,0.0,45.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
23,TRAIN_023,0,0.519090,2022-06-14 9:01,T100304,T_31,2.0,102.0,0.0,45.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
24,TRAIN_024,2,0.578841,2022-06-16 23:46,T050307,A_31,0.0,0.0,0.0,0.0,...,56.38,68.66,59.20,59.42,70.16,1.0,0.0,0.0,0.0,0.0
25,TRAIN_025,1,0.529362,2022-06-19 9:11,T100304,T_31,2.0,97.0,0.0,45.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
26,TRAIN_026,1,0.531992,2022-06-19 9:20,T100306,T_31,2.0,95.0,0.0,45.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
27,TRAIN_027,2,0.540002,2022-06-19 20:18,T010306,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
28,TRAIN_028,0,0.521249,2022-06-19 20:26,T010305,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
29,TRAIN_029,1,0.532405,2022-06-19 23:31,T100304,T_31,2.0,100.0,0.0,45.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
30,TRAIN_030,1,0.528646,2022-06-19 23:39,T100306,T_31,2.0,88.0,0.0,45.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
31,TRAIN_031,2,0.536206,2022-06-20 21:55,T010306,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
32,TRAIN_032,2,0.548592,2022-06-21 7:06,T010306,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
33,TRAIN_033,1,0.526656,2022-06-21 7:14,T010305,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
34,TRAIN_034,0,0.521524,2022-06-21 17:36,T050304,A_31,0.0,0.0,0.0,0.0,...,55.03,52.24,55.33,57.49,67.31,1.0,0.0,0.0,0.0,0.0
35,TRAIN_035,1,0.527976,2022-06-21 17:44,T050307,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,1.0,0.0,0.0,0.0,0.0
36,TRAIN_036,1,0.529633,2022-06-22 3:39,T100306,T_31,2.0,91.0,0.0,45.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
37,TRAIN_037,1,0.533110,2022-06-22 3:47,T100304,T_31,2.0,100.0,0.0,45.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
38,TRAIN_038,2,0.536616,2022-06-22 4:37,T010306,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
39,TRAIN_039,1,0.531583,2022-06-22 4:45,T010305,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
40,TRAIN_040,1,0.530829,2022-06-22 12:26,T010305,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
41,TRAIN_041,1,0.528270,2022-06-22 12:34,T010305,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
42,TRAIN_042,1,0.530965,2022-06-23 3:39,T100306,T_31,2.0,95.0,0.0,45.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
43,TRAIN_043,1,0.529498,2022-06-23 6:28,T100306,T_31,2.0,95.0,0.0,45.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
44,TRAIN_044,1,0.530489,2022-06-23 6:36,T100306,T_31,2.0,89.0,0.0,45.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
45,TRAIN_045,1,0.530948,2022-06-23 10:24,T100304,T_31,2.0,97.0,0.0,45.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
46,TRAIN_046,1,0.532219,2022-06-23 10:32,T100304,T_31,2.0,99.0,0.0,45.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
47,TRAIN_047,1,0.533230,2022-06-23 15:42,T010306,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
48,TRAIN_048,1,0.533273,2022-06-23 15:50,T010305,A_31,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
49,TRAIN_049,1,0.528660,2022-06-24 1:02,T100306,T_31,2.0,93.0,0.0,45.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0

In [12]:
test_df

,PRODUCT_ID,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TEST_000,2022-09-09 2:01,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TEST_001,2022-09-09 2:09,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TEST_002,2022-09-09 8:42,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TEST_003,2022-09-09 10:56,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TEST_004,2022-09-09 11:04,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,TEST_305,2022-11-05 11:18,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,TEST_306,2022-11-05 16:39,T100304,T_31,2.0,96.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,TEST_307,2022-11-05 16:47,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,TEST_308,2022-11-05 20:53,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,TEST_309,2022-11-05 21:01,T100306,T_31,2.0,87.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
submission.head()

  PRODUCT_ID  Y_Class
0   TEST_000        0
1   TEST_001        0
2   TEST_002        0
3   TEST_003        0
4   TEST_004        0

위 세 가지 데이터 프레임을 보고 우리가 무엇을 예측해야하는지 알 수 있다.

# Data Preprocessing

데이터 전처리(Data preprocessing)의 목적은 

주어진원본 데이터를 신경망에 적용하기 쉽도록 만드는 것이다.

벡터화(vectorization), 정규화(normalization), 

특성 추출(Feature Engineering)등이 포함된다.

### Feature Engineering

먼저, column의 모든 value가 0.0인 column은 삭제하고, 삭제한 column 리스트 정보저장.

In [4]:
train_df.isnull().sum()

PRODUCT_ID      0
Y_Class         0
Y_Quality       0
TIMESTAMP       0
LINE            0
             ...
X_2871        499
X_2872        598
X_2873        598
X_2874        598
X_2875        598
Length: 2881, dtype: int64

**train data 필요없는 column 삭제**

In [35]:
del_allnull = []
for i in train_df.columns:
    if train_df[i].isnull().sum() == 598:
        print(i)
        del_allnull.append(i)
        del train_df[i]
        
train_df.info()

X_934
X_935
X_936
X_937
X_2628
X_2629
X_2630
X_2631
X_2632
X_2633
X_2634
X_2635
X_2636
X_2637
X_2638
X_2639
X_2640
X_2641
X_2642
X_2643
X_2644
X_2645
X_2646
X_2647
X_2648
X_2649
X_2650
X_2651
X_2652
X_2653
X_2654
X_2655
X_2656
X_2657
X_2658
X_2659
X_2660
X_2661
X_2662
X_2663
X_2664
X_2665
X_2666
X_2667
X_2668
X_2669
X_2670
X_2671
X_2672
X_2673
X_2674
X_2675
X_2676
X_2677
X_2678
X_2679
X_2680
X_2681
X_2682
X_2683
X_2684
X_2685
X_2686
X_2687
X_2688
X_2689
X_2690
X_2691
X_2692
X_2693
X_2694
X_2695
X_2696
X_2697
X_2698
X_2699
X_2838
X_2844
X_2872
X_2873
X_2874
X_2875
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Columns: 2799 entries, PRODUCT_ID to X_2871
dtypes: float64(2794), int64(1), object(4)
memory usage: 12.8+ MB

In [36]:
del_allzero = []
for i in train_df.columns:
    if train_df[i].sum() == 0.0:
        print(i)
        del_allzero.append(i)
        del train_df[i]
        
train_df.describe()

X_3
X_6
X_14
X_70
X_74
X_75
X_76
X_77
X_78
X_79
X_82
X_83
X_84
X_85
X_142
X_190
X_191
X_192
X_193
X_194
X_195
X_232
X_234
X_235
X_259
X_260
X_315
X_319
X_322
X_323
X_324
X_327
X_328
X_329
X_330
X_375
X_376
X_377
X_378
X_427
X_466
X_467
X_505
X_508
X_558
X_561
X_567
X_583
X_617
X_620
X_631
X_633
X_634
X_636
X_638
X_639
X_640
X_641
X_642
X_672
X_673
X_676
X_691
X_692
X_695
X_715
X_729
X_732
X_743
X_749
X_759
X_760
X_761
X_764
X_776
X_777
X_778
X_836
X_843
X_844
X_849
X_859
X_886
X_887
X_888
X_889
X_992
X_1020
X_1021
X_1022
X_1023
X_1024
X_1025
X_1070
X_1092
X_1119
X_1137
X_1146
X_1206
X_1216
X_1219
X_1248
X_1249
X_1250
X_1251
X_1252
X_1253
X_1255
X_1293
X_1298
X_1309
X_1311
X_1312
X_1314
X_1316
X_1317
X_1318
X_1319
X_1320
X_1361
X_1362
X_1363
X_1364
X_1367
X_1392
X_1393
X_1394
X_1395
X_1396
X_1399
X_1426
X_1457
X_1487
X_1502
X_1503
X_1504
X_1522
X_1531
X_1537
X_1571
X_1572
X_1573
X_1574
X_1575
X_1576
X_1577
X_1578
X_1579
X_1580
X_1581
X_1582
X_1644
X_1645
X_1688
X_1689
X_1692
X_1693
X_1702
X_1722
X_1723
X_1724
X_1754
X_1760
X_1766
X_1772
X_1778
X_1784
X_1790
X_1796
X_1802
X_1808
X_1828
X_1835
X_1836
X_1837
X_1838
X_1839
X_1840
X_1841
X_1842
X_1844
X_1845
X_1846
X_1847
X_1848
X_1851
X_1852
X_1869
X_1870
X_1871
X_1872
X_2052
X_2053
X_2054
X_2055
X_2420
X_2462
X_2733
X_2775

,Y_Class,Y_Quality,X_1,X_2,X_4,X_5,X_7,X_8,X_9,X_10,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
count,598.000000,598.000000,349.000000,349.000000,349.0,349.000000,349.000000,349.000000,349.000000,349.0,...,249.000000,249.000000,249.000000,249.000000,100.000000,100.00000,100.000000,100.000000,100.00000,99.0
mean,1.025084,0.530896,2.409742,95.123209,45.0,10.392550,48.802292,10.048711,41.469914,2.0,...,163.290763,423.558233,406.088187,388.064257,50.807300,53.60770,49.606200,51.659800,66.64970,1.0
std,0.565069,0.007401,5.895256,4.107640,0.0,0.489019,4.373824,0.215571,10.515032,0.0,...,11.514477,38.335184,37.299901,36.054561,7.011828,8.13899,7.158917,8.913065,4.52781,0.0
min,0.000000,0.500856,1.000000,87.000000,45.0,10.000000,45.000000,10.000000,31.000000,2.0,...,125.700000,373.000000,357.698113,342.000000,32.120000,31.70000,32.560000,30.490000,61.67000,1.0
25%,1.000000,0.527535,2.000000,93.000000,45.0,10.000000,45.000000,10.000000,31.000000,2.0,...,157.200000,384.000000,368.296296,352.000000,49.485000,52.20000,42.160000,49.915000,63.64500,1.0
50%,1.000000,0.530436,2.000000,95.000000,45.0,10.000000,45.000000,10.000000,31.000000,2.0,...,163.300000,446.000000,427.867925,406.000000,53.425000,55.92500,51.460000,56.175000,65.14000,1.0
75%,1.000000,0.533433,2.000000,98.000000,45.0,11.000000,51.000000,10.000000,52.000000,2.0,...,169.100000,465.000000,443.807692,423.000000,55.287500,58.97500,55.030000,57.175000,67.11500,1.0
max,2.000000,0.578841,103.000000,102.000000,45.0,11.000000,62.000000,11.000000,52.000000,2.0,...,194.600000,473.000000,450.692308,434.000000,60.240000,68.66000,60.410000,59.930000,79.75000,1.0

**train data에서 제거한 column들, test data에서도 삭제**

In [37]:
test_df.drop(del_allnull, axis = 1, inplace = True)

In [38]:
test_df.drop(del_allzero, axis = 1, inplace = True)

# 이 아래의 전처리는 t6에서 해보기

In [20]:
train_df.mean()

Y_Class       1.025084
Y_Quality     0.530896
X_1           2.409742
X_2          95.123209
X_4          45.000000
               ...
X_2867       53.607700
X_2868       49.606200
X_2869       51.659800
X_2870       66.649700
X_2871        1.000000
Length: 2596, dtype: float64

데이터에는 수치형과 범주형 데이터가 있는데, 둘 중 수치치형만 사용하고 싶은 경우, 다른 범주형 데이터를 drop함수를 이용하여 다 삭제한다.(데이터 처리)

train_df에 적용시킨 사항은 test_df에도 똑같이 적용시켜준다.

### Feature Selection

데이터 전처리. 결측값을 0으로 채운다.

In [45]:
train_df = train_df.fillna(train_df.mean())
test_df = test_df.fillna(train_df.mean())

모델링을 하기 앞서, 독립변수 X와 종속변수 y를 설정해야한다.

**학습에 사용할 변수 X와 예측할 변수 y를 분리**

In [46]:
train_y = train_df['Y_Class']
train_y

0      1
1      2
2      1
3      2
4      1
      ..
593    1
594    0
595    0
596    1
597    1
Name: Y_Class, Length: 598, dtype: int64

학습에 쓰이지 않을 column들을 제거한다.

In [47]:
train_x = train_df.drop(columns = ['PRODUCT_ID', 'TIMESTAMP', 'Y_Class', 'Y_Quality'])
#모델 학습이 끝나고 예측에 쓰일 test데이터
test_x = test_df.drop(columns=['PRODUCT_ID', 'TIMESTAMP'])

범주형 데이터를 수치 데이터로 전환하기 위해 LabelEncoder 활용

In [48]:
# qualitative to quantitative
qual_col = ['LINE', 'PRODUCT_CODE']

for i in qual_col:
    le = LabelEncoder()
    le = le.fit(train_x[i]) #원래 column 값을 기준으로 fit.
    train_x[i] = le.transform(train_x[i]) #수치화, 수치로 변형
    
    for label in np.unique(test_x[i]): 
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    test_x[i] = le.transform(test_x[i]) 
print('Done.')

Done.

In [49]:
train_x

,LINE,PRODUCT_CODE,X_1,X_2,X_4,X_5,X_7,X_8,X_9,X_10,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
0,2,0,2.409742,95.123209,45.0,10.39255,48.802292,10.048711,41.469914,2.0,...,189.000000,383.000000,368.296296,353.000000,39.3400,40.8900,32.5600,34.0900,77.7700,1.0
1,3,0,2.409742,95.123209,45.0,10.39255,48.802292,10.048711,41.469914,2.0,...,185.600000,383.000000,367.735849,353.000000,38.8900,42.8200,43.9200,35.3400,72.5500,1.0
2,2,0,2.409742,95.123209,45.0,10.39255,48.802292,10.048711,41.469914,2.0,...,165.500000,383.000000,367.320755,353.000000,39.1900,36.6500,42.4700,36.5300,78.3500,1.0
3,3,0,2.409742,95.123209,45.0,10.39255,48.802292,10.048711,41.469914,2.0,...,165.800000,384.000000,369.188679,353.000000,37.7400,39.1700,52.1700,30.5800,71.7800,1.0
4,2,0,2.409742,95.123209,45.0,10.39255,48.802292,10.048711,41.469914,2.0,...,182.600000,383.000000,367.351852,352.000000,38.7000,41.8900,46.9300,33.0900,76.9700,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,5,2,2.000000,95.000000,45.0,10.00000,50.000000,10.000000,52.000000,2.0,...,163.290763,423.558233,406.088187,388.064257,50.8073,53.6077,49.6062,51.6598,66.6497,1.0
594,2,0,2.409742,95.123209,45.0,10.39255,48.802292,10.048711,41.469914,2.0,...,168.700000,384.000000,369.811321,353.000000,49.4700,53.0700,50.8900,55.1000,66.4900,1.0
595,2,0,2.409742,95.123209,45.0,10.39255,48.802292,10.048711,41.469914,2.0,...,156.600000,383.000000,367.018868,352.000000,50.8073,53.6077,49.6062,51.6598,66.6497,1.0
596,4,1,40.000000,94.000000,45.0,11.00000,45.000000,10.000000,31.000000,2.0,...,163.290763,423.558233,406.088187,388.064257,50.8073,53.6077,49.6062,51.6598,66.6497,1.0
597,5,1,21.000000,87.000000,45.0,10.00000,61.000000,10.000000,52.000000,2.0,...,163.290763,423.558233,406.088187,388.064257,50.8073,53.6077,49.6062,51.6598,66.6497,1.0

### Modeling

1.모델 선택 - sklearn라이브러리 활용 - RandomForest 

2.모델 학습 - train_df를 활용하여 1번에서 정의한 모델로 학습

3.예측 - 학습된 모델을 바탕으로 test 데이터를 예측

4.정답 파일 생성 - 정답 파일 생성 및 제출 필요(경진대회를 위해 필요한 과정.)

In [50]:
#모델 선언(모델 선택) + 모델 학습
#random_state=37 로 시드 고정.
RF = RandomForestClassifier(random_state=37).fit(train_x, train_y)
print('Done.')

Done.

In [51]:
#test 데이터로 예측
preds = RF.predict(test_x)
print('Done.')

Done.

In [52]:
#제출 파일에 예측 column 넣기
submission['Y_Class'] = preds
submission.to_csv('./baseline_submission5.csv', index=False)